VITE_GG_CLIENT_ID=686626573895-23r6hpi2kk7elc411k0vggur97kd2ien.apps.googleusercontent.com
VITE_API_BASE_URL=http://localhost:3000/api
VITE_API_URL=http://localhost:3000
VITE_SOCKET_URL=http://localhost:3000
VITE_GEOAPIFY_KEY=bc5b64e272824d95874fd2dfcd0dec31
VITE_MAPTILER_KEY=gfSEv8eHGG3JerPboSmT
